html {
    background: url( 'light_wool.png' ) repeat;
}
body {
    margin: 25px auto 30px;
    padding: 5px 20px;
    width: 640px;
    background-color: rgba( 255, 255, 255, 0.6 );
    color: #222;
    font-family: sans-serif;
    border: 1px solid #fff;
    outline: 1px solid #f0f0f0;
}
figure {
    margin: 0;
    text-align: center;
}
figure img {
    max-width: 100%;
}

.original-size {
    height: auto !important;
}
img {
    -ms-interpolation-mode: bicubic;/* IE7 */
}
